:root {
  --ff-primary: 'Noto Sans', sans-serif;
  --ff-secondary: 'Noto Serif', serif;

  --primary: hsl(240, 50%, 50%);
  --primary-txt: hsl(240, 50%, 90%);
  --secondary: hsl(60, 50%, 50%);
  --secondary-txt: hsl(60, 50%, 10%);
  --grey-dark: #333;
  --grey-dark-md: #555;
  --grey-light-md: #aaa;
  --grey-light: #eee;

  --radius: 0.5rem;

  --type-xxl: clamp(1.476rem, 9.469vi, 7.993rem);
  --type-xl: clamp(1.383rem, 7.036vi, 5.653rem);
  --type-lg: clamp(1.296rem, 5.294vi, 3.998rem);
  --type-md: clamp(1.215rem, 4.042vi, 2.827rem);
  --type-sm: clamp(1.138rem, 3.137vi, 1.999rem);
  --type-xs: clamp(1.067rem, 2.481vi, 1.414rem);
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: var(--type-md);
  min-height: 120vh;
  padding: 0;
  margin: 0;
}
:is(h1, h2, h3, h4) {
  font-family: var(--ff-secondary);
  color: var(--grey-dark);
  margin-block: 0;
  font-weight: 300;
  letter-spacing: 2px;
}
h1 {
  font-size: var(--type-xxl);
  background-color: var(--primary);
  color: var(--primary-txt);
  padding: 0.5rem 2rem;
}
h2 {
  font-size: var(--type-lg);
}
h3 {
  font-size: var(--type-md);
}
h4 {
  font-size: var(--type-sm);
}
main {
  padding: 1rem 2rem;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.25rem 2rem;
  align-items: center;
  gap: 2rem;
  background-color: var(--secondary);
  a {
    flex-wrap: nowrap;
    flex-shrink: 0;
    font-size: var(--type-sm);
  }
  a:link,
  a:active,
  a:visited {
    color: var(--secondary-txt);
    text-decoration: none;
  }
  a:focus,
  a:hover {
    color: var(--grey-dark);
    text-decoration-color: currentColor;
    text-decoration-line: underline;
  }
}
@media (width < 600px) {
  nav {
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    a {
      font-size: var(--type-md);
      border-bottom: 1px dotted var(--grey-dark-md);
      text-underline-offset: 5px;
    }
  }
}
#search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary);
  padding: 0.5rem 1rem;

  [type='search'] {
    font-size: var(--type-xs);
    color: var(--primary);
    padding-inline: 3ch 1ch;
    padding-block: 0.25rem;
    border: none;
    font-family: var(--ff-primary);
    font-weight: 300;
    background-image: url(../img/search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 5px center;
  }
}
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  & p {
    font-size: var(--type-xs);
    color: var(--grey-dark-md);
    margin-block-start: 0.25rem;
    margin-block-end: 1rem;
  }
}
img.left {
  float: left;
  margin-inline: 0 1rem;
  margin-block: 0 1rem;
  width: clamp(300px, 80%, 500px);
}
.col {
  container-type: inline-size;
  container-name: col;
}
@container col (width < 650px) {
  .col img {
    width: 100%;
    float: none;
  }
}
@media (width > 60rem) {
  main {
    grid-template-columns: 2fr 1fr;
  }
}
